body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 
  
  .form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus {
    border-color: #686868;
    outline: none;
    box-shadow: 0 0 5px rgba(95, 95, 95, 0.5);
  }
  
  button {
    width: 60%;
    padding: 10px;
    background-color: #676867;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  
  button:hover {
    background-color: #919191;
  }